.navbar {
  background-color: #313C92;
} /* navbar background color */

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #4A6FE3;
} /* on-hover page tab color */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #4A6FE3;
} /* selected page tab color */

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #4A6FE3;
} /* in-page tag top border color */

/* see: https://stackoverflow.com/questions/58064754/change-color-of-activated-page-in-flexdashboard */

/* unvisited link */
a:link {
  color: #4A6FE3;
}

/* visited link */
a:visited {
  color: #4A6FE3;
}

/* hover over link */
a:hover {
  color: #313C92;
}

/* selected link */
a:active {
  color: #4A6FE3;
}
